

.SelectBox{
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 5px 13px;
    position: relative;
    min-width: 180px;
}

.ParentBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ParentBox .Circumflexus{
    margin-left: auto;
}

.currentSelectionValue{
    color: #5e5e5e;
    margin-right: 10px;
    font-weight: 500;
}

.DropdownMenu{
    color: #5e5e5e;
    font-weight: 500;
    position: absolute;
    bottom: -150px;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    background-color: #eaeaea;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.DropdownMenu .selectionValue{
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #d9d9d9;
}

.DropdownMenu li:last-child .selectionValue{
    border: none;
}