

.Track{
    height: 6px;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 5px;
}

.Thumb{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--main-blue-color);
    outline: none;
    position: relative;
}

.Progress{
    height: 100%;
    background-color: var(--main-blue-color);
}

.KeyboardRangeBox{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
}

.KeyboardRangeItem span{
    font-size: 15px;
    color: #999;
    margin-right: 4px;
}

.KeyboardRangeItem input{
    width: 100%;
    font-size: 15px;
    color: #999;
    background-color: transparent;
    outline: none;
    border:none;
    margin-bottom: 1px;
}

.KeyboardRangeItem{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 8px;
}

.KeyboardRangeItem:first-child{
    border-right: 1px solid #d9d9d9;
}

.Values{
    position: absolute;
    top: 20px;
    background-color: var(--main-blue-color);
    width: 30px;
    border-radius: 5px;
    left: -13px;
    padding: 0 3px;
}

.ValueBox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.triangleUp{
    position: relative;
}

.triangleUp div{
    position: absolute;
    top: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid var(--main-blue-color);
}