
.HeaderMenu{
    display: flex;
    height: 70px;
    margin: 0;
    padding: 0 35px;
}
.HeaderMenu li{
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.FooterMenu{
    display: flex;
    height: 70px;
    margin: 0;
    padding: 0 35px;
    align-items: baseline;
    /* justify-content: center; */
}

.FooterMenu li{
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.FooterMenu li:last-child{
    padding: 0;
}

.MenuLink {
    font-weight: 600;
    font-size: 15px;
    text-decoration: inherit;
    position: relative;
    padding: 28px 0;
    color: #5e5e5e;
} 

.MenuFooter{
    color: #799FFF;
    font-weight: 600;
    font-size: 15px;
    text-decoration: inherit;
    padding: 28px 0;
}

 .MenuLink.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 15px 15px 0 0;
    background-color: var(--main-blue-color);
    transition: height 0.2s;
}

.MenuLink.active.Falling:after {
    bottom: 2px;
}

 .MenuLink:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 100%;
    height: 0;
    border-radius: 15px;
    background-color: black;
    transition: height 0.1s;
}

 .MenuLink:hover:after {
    height: 4px;
    background-color: var(--main-blue-color);
    border-radius: 15px 15px 0 0;
}