
.FilterPanel{
    display: table-cell;
    background-color: white;
    width: 30%;
    padding: 25px;

}

.SpecialtyFilter{
    display: flex;
    align-items: center;
}

.SpecialtyFilter #specialtyFilterTitle{
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}
