
.SearchBox{
    margin-top: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 280px;
    background-color: #799FFF;
}

#SearchBoxImgTop{
    position: absolute;
    width: 18%;
    top: 0;
}

#SearchBoxImgBottom{
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.ContentPanel{
    display: flex;
    width: 99vw;
}

.vertPanel{
    width: 100%;
}


.ResultPanel{
    width: auto;
    background-color: #f6f6f6;
    padding: 20px;
    min-height: 200px;
}

.Preloader{
    display: flex;
    align-items: top;
    justify-content: center;
}

.FilterPanel{
    display: table-cell;
    background-color: white;
    width: 30%;
    padding: 25px;
    min-width: 280px;

}

.InfoPanel{
    display: flex;
    background-color: #eaeaea;
    width: auto;
    align-items: center;
    padding: 25px;
}

#title{
    margin: 0;
    font-weight: 500;
}

.SortPanel{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.SortPanel #title{
    margin-right: 10px;
}