
.SearchPanelBorder{
    height: 42px;
    width: calc(50vw + 34px);
    background-color: transparent;
    border: 2px solid #2864FF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchPanelBox{
    height: 38px;
    width: 50vw;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.SearchIcon{
    width: 15px;
    margin-right: 10px;
}

.SearchInput{
    z-index: 20;
    background-color: transparent;
    border: none;
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    width: 55vw;
    height: auto;
    margin-bottom: 2px;
}

.SearchInput:focus {
    outline: none;
}

