
/* .SearchPanelBorder{
    height: 42px;
    width: calc(50vw + 34px);
    background-color: transparent;
    border: 2px solid #2864FF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.SearchPanelBox{
    z-index: 1;
    height: 48px;
    width: 50vw;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    filter: drop-shadow(0 4px 4px rgba(187, 187, 187, 0.10));

}

.SearchIcon{
    width: 15px;
    margin-right: 15px;
}

.SearchInput{
    background-color: transparent;
    border: none;
    color: var(--secondText-color);
    font-size: 15px;
    font-weight: 400;
    width: 55vw;
    height: auto;
    margin-bottom: 2px;
}

.SearchInput:focus {
    outline: none;
}

