
.HelloBox{
    background-color: #799FFF;
    padding: 60px 120px 90px;
    width: 100%;
}

#HelloTitle{
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

#HelloDescription{
    color: #E7ECFF;
    font-size: 20px;
    width: 550px;
    margin: 0;
    margin-bottom: 25px;
}

.UserAuthButton{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 15px;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.UserAuthButton:focus{
    outline: none;
}

.UserAuthButton:hover{
    border: 1px solid white;
    box-shadow: 0 0 10px 1px white;
}

.UserAuthButton img{
    margin-right: 15px;
    width: 22px;
}



.WindowBack{
    /* position: relative; */
    background-color: white;
    display: flex;
    justify-content: center;
    height: auto;
}

.ContentPanel{
    /* position: absolute; */
    transform: translateY(-40px);
    top: -40px;
    background-color: white;
    width: fit-content;
    box-shadow: 0 0 5px 0px #aaaaaa;
}

.ContentPanel table{
    table-layout: fixed;
    border-collapse: collapse;

}

.HeaderInfo, td{
    text-align: center;
    vertical-align: top;
    padding: 10px;
    width: 130px;
    border: 1px solid #f6f6f6;
}

.HeaderInfo{
    padding-bottom: 15px;
}

.ContentPanel table .HeaderInfo div{
    text-align: left;
}

.ContentPanel table .HeaderInfo .THTitle{
    /* font-family: "Poppins", sans-serif; */
    font-weight: 800;
    font-size: 16px;
    color: #464646;
    margin: 0;
    margin-bottom: 5px;
}

.ContentPanel table .HeaderInfo p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    line-height: 1;
}

.SpecialtyPanel{
    padding: 10px;
    padding-top: 20px;
    display: flex;
}

#LocationImg{
    width: 84px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#SpecializationImg{
    width: 84px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#CostImg{
    margin-right: 10px;
    width: 63px;
    margin-top: 15px;
    margin-bottom: 16px;

}

#PeoplesImg{
    width: 84px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#GradeImg{
    width: 55px;
    margin-top: 20px;
    margin-bottom: 19px;
    margin-right: 10px;
}

#OwnershipImg{
    margin-right: 10px;
    width: 66px;
    margin-top: 15px;
    margin-bottom: 14px
}

.ContentPanel table td{
    color: #999;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
}

.ContentPanel table td:first-child{
    min-width: 200px;
}

.ContentPanel table .TableCollegeHeader{
    text-align: left;
}

.ContentPanel table .TableCollegeHeader p{
    font-weight: 500;
    font-size: 15px;
    color: #999;
    margin: 0;
}

.ContentPanel table .TableCollegeHeader .CollegeTitle{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin: 0;
    margin-bottom: 1px;
    line-height: 1.2;
}


.GradeBox img{
    width: 18px;
    margin-right: 1px;
}

.GradeBox img:last-child{
    margin: 0;
}