.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--blueBG-color);
}

.page {
    width: 1000px;
}

.blockHeader{
    font-size: 35px;
    font-weight: 600;
}

.blockDescription{
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    color: var(--secondText-color);
    margin-top: 10px;
}

.sliderBar{
    margin-top: 30px;
}

.testPreviewBG {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 58vw;
}

.previewContent {
    float: right;
    padding: 10vw 0;
}

.pageHeader {
    font-size: 60px;
    font-weight: 700;
    line-height: 90%;
    width: 380px;
}

.pageDescription {
    margin-top: 30px;
    width: 380px;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    color: var(--secondText-color);
}

.buttonCase {
    margin-top: 90px;
}

.liveLine{
    /* position: relative; */
    margin-top: 100vh
}

.slider{
    margin-bottom: 120px;
}

