
#Certificate{
    font-size: 15px;
    color: #999;
    line-height: 1.1;
    font-weight: 500;
    margin: 0;
    margin-bottom: 25px;
}

.BarPanel{
    width: 100%;
    height: 40px;
    display: flex;
}

.BarPanel .RetryButton{
    padding: 8x;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--main-red-color);
    color: var(--main-red-color);
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-weight: 600;
}

.BarPanel .RetryButton:focus{
    outline: none;
}

.BarPanel .BarBox{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 38px;
    border: 1px solid #999;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 0;
}

.BarBox #BarDescription{
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translate(-50%, -50%);
    color: #999;
    font-weight: 500;
    margin: 0;
    /* color: #8eaaf1; */
}


.Content{
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;
    padding: 25px 0;
}

.SubmitBox{
    border-top: 1px solid #f6f6f6;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SubmitBox p{
    font-size: 15px;
    font-weight: 500;
    color: #999;
    margin: 0;
    margin-bottom: 5px;
}

.SubmitBox .SubmitButton{
    width: 210px;
    padding: 10px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--main-blue-color);
    border-radius: 0;
    color: var(--main-blue-color);
}

.SubmitBox .SubmitButton:focus{
    outline: none;
}