
.MainBox{
    width: 100%;
}

.Annotation{
    color: #999;
    font-weight: 500;
    line-height: 1.2;
}

.TableBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.TableBox .ResultTable{
    /* border-spacing: inherit; */
    border: none;
}

.TableBox .ResultTable td{
    border: none;
    padding: 0;
    padding: 3px 10px;
    text-align: end;
}

.TableBox .ResultTable td p{
    margin: 0;
    /* color: #999; */
    font-weight: 500;
}

.TableBox .ResultTable td.ProgressBox{
    height: fit-content;
    padding: 0;
    min-width: 200px;
    /* border-left: 2px solid #999; */
}

.TableBox .CollegeTable{
    border-spacing: inherit;
}

.TableBox .CollegeTable p{
    margin: 0;
    line-height: 1.2;
}

.TableBox .CollegeTable td, th{
    border: none;
    border-bottom: 1px solid #f6f6f6;
}

.TableBox .CollegeTable .CollegeHeader{

    text-align: start;
}

.TableBox .CollegeTable .CollegeHeader .Title{
    color: #242424;
    text-decoration: none;
    line-height: 1;
    font-weight: 600;
}

@keyframes opacityAnim {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.LoadingRow{
    animation: opacityAnim 1.5s infinite;
}

.LoadingRow .Item{
    background-color: #eaeaea;
    border-radius: 15px;
    height: 22px;
    margin-bottom: 5px;
    width: 130px;
}

.Item.Title{
    width: 200px;
}

.LoadingRow .SpecialtyBox{
    max-width: 430px;
    display: flex;
    flex-wrap: wrap;
}

.Item.Specialty{
    margin-right: 5px;
}

/* .NonInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */