
.MainBox{
    width: 100%;
}

.Annotation{
    color: #999;
    font-weight: 500;
    line-height: 1.2;
}

.TableBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.TableBox .ResultTable{
    /* border-spacing: inherit; */
    border: none;
}

.TableBox .ResultTable td{
    border: none;
    padding: 0;
    padding: 3px 10px;
    text-align: end;
}

.TableBox .ResultTable td p{
    margin: 0;
    /* color: #999; */
    font-weight: 500;
}

.TableBox .ResultTable td.ProgressBox{
    height: fit-content;
    padding: 0;
    min-width: 200px;
    /* border-left: 2px solid #999; */
}

.TableBox .CollegeTable{
    border-spacing: inherit;
}

.TableBox .CollegeTable p{
    margin: 0;
    line-height: 1.2;
}

.TableBox .CollegeTable td, th{
    border: none;
    border-bottom: 1px solid #f6f6f6;
}

.TableBox .CollegeTable .CollegeHeader{

    text-align: start;
}

.TableBox .CollegeTable .CollegeHeader .Title{
    color: #242424;
    text-decoration: none;
    line-height: 1;
    font-weight: 600;
}