
.PanelItem{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.PanelItem:last-child{
    margin-bottom: 0;
}

.PanelItem img{
    margin-right: 10px;
}

.PanelItem p{
    margin: 0;
    font-size: 15px;
    color: var(--secondText-color);
    font-weight: 400;
    line-height: 1;
    text-align: start;
}