

.HelloBox{
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    /* padding: 60px 10vw 90px; */
    width: 100%;
    position: relative;
}

.HelloBox img{
    opacity: 60%;
    width: 100vw;
}

.HelloBox div{
    position: absolute;
    width: 70vw;
}

.HelloBox div hr{
    width: 33.333333%;
    border-color: white;
    margin-top: 16px;
    margin-bottom: 32px;
}

.HelloBox div p{
    text-align: center;

    /* font-family: 'Montserrat', sans-serif; */
    letter-spacing: 0.05cap;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    color: white;

    margin: 0;
}

.HelloBox div .CollegeTitle{
    font-size: 46px;
}

.WindowBack{
    /* position: relative; */
    background-color: var(--lightGray-color);
    display: flex;
    justify-content: center;
    height: auto;
}

.ContentPanel{
    /* position: absolute; */
    transform: translateY(-45px);
    /* top: -40px; */
    width: 75vw;
    width: 1000px;
    min-height: 200px;
    display: flex;
}

.Content{
    /* box-shadow: 0 0px 2px 0px #dad9d9; */
    filter: drop-shadow(0 0px 10px rgba(187, 187, 187, 0.10));
    background-color: white;
    margin: 8px;
    padding: 24px;
    overflow: hidden;
    border-radius: 15px;
}

.MainContent{
    width: 100%;
}

.Content.Description{
    margin-bottom: 16px;
    /* overflow: hidden; */
}

.Content.Description:last-child{
    margin-bottom: 8px;
}

.SecondaryContent{
    max-width: 350px;
}

.ContentPanel .Box{
    margin-top: 20px;
}

.costDescription{
    font-size: 13px;
    margin-top: 10px;
    color: var(--secondText-color);

}

.ContactItemBox .ContactHeader{
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.costContent{
    font-size: 15px;
}

.ContentPanel p{
    line-height: 1;
}

.ContentPanel .collegeDescription{
    line-height: 140%;
    font-size: 13px;
    color: var(--secondText-color);
}

.ContentPanel .Headers{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 20px;
    font-weight: 500;
}

.AdminBoxBack{
    margin: 30px 0;
}

.AdminBox{
    display: flex;
    margin: 20px 0;
}

.AdminBox .Item:first-child{
    margin-right: 20px;
    width: 45%;
}

.AdminBox .Item{
    display: flex;
}

.AdminBox .Item p{
    color: var(--secondText-color);
    font-size: 13px;
}

.AdminBox .Item .ItemImg{
    margin-right: 15px;
    /* margin-top: 1px; */

    width: 22px;
    height: 22px;
}


.AdminBox .Item .StarPanel img{
    width: 18px;
    margin-right: 2px;
}


.AdminBox .Item .MiniHeader{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
    color: black;
}

.SpecialtyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.SpecialtyTable th{
    font-size: 15px;
    font-weight: 500;
}
  
.SpecialtyTable  td, th {
    font-size: 15px;
    width: auto;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    /* border: 1px solid #ccc; */
}
  
.ButtonCase{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

.ConnectionButton{
    border: 1px solid var(--main-blue-color);
    border-radius: 0;
    padding: 10px 20px;
    color: var(--main-blue-color);
    background-color: transparent;
    text-decoration: none;
    font-weight: 500;
}

.ConnectionButton:focus{
    outline: none;
}

.ContactItemBox{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ContactItemBox p{
    color: var(--secondText-color);
    font-size: 13px;
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}


.CommentInfoBox{
    display: flex;
}


.NoComment{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.CommentInfoBox .HeaderDescription{
    font-size: 15px;
    margin-top: 8px;
}

.Content.Description .Button{
    border: 1px solid var(--main-blue-color);
    border-radius: 0;
    padding: 12px 20px;
    color: var(--main-blue-color);
    background-color: transparent;
    width: 100%;
}

.Content.Description .Button.NewSpecialty{
    margin-left: auto;
    width: auto;
}

.Content.Description .Button:focus{
    outline: none;
}

.Content.Description .Button.Edit{
    margin-bottom: 10px;
}

.Content.Description .Button.Delete{
    color: var(--main-red-color);
    border: 1px solid var(--main-red-color);
}