
.SearchBox{
    margin-top: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 280px;
    background-color: #799FFF;
}

#SearchBoxImage{
    position: absolute;
    width: 100%;
    bottom: 30px;
}