
.SearchPanelBox{
    margin-left: auto;
    margin-right: 15px;
    height: 38px;
    width: 25vw;
    background-color: #eaeaea;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.SearchIcon{
    width: 15px;
    margin-right: 10px;
}

.SearchInput{
    background-color: transparent;
    border: none;
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    width: 20vw;
    height: auto;
    margin-bottom: 2px;
}

.SearchInput:focus {
    outline: none;
}

