
.specialtyPanel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.specialtyItem{
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: var(--lightGrey-color);
    
    border-radius: 15px; 
}

.specialtyItem.disabled{
    opacity: 50%;
}

.specialtyItem p{
    color: var(--secondText-color);
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}