
.wrapper{
    height: 510px;
    position: relative;

}

#liveLineImg{
    position: absolute;
    left: -1800px;
    top: -103px;
    width: auto;
}

.numberBox{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerBox{
    width: 20px;
    height: 20px;
    background-color: var(--secondText-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxNumber{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1px;
}

.textLine{
    margin: 5px 13px;
    width: 3px;
}

.header{
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
    line-height: 1;
}

.description{
    line-height: 175%;
    font-size: 13px;
    font-weight: 500;
    margin-left: 12px;
    color: var(--secondText-color);
    margin-top: 20px;
    width: 420px;
}

.blockBox{
    position: relative;

}

.block{
    position: absolute;
}

.block.block1{
    top: 205px;
}

.block.block2{
    left: 150px;
    top: 56px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.block.block2 .description{
    text-align: right;
}

.block.block2 .header{
    text-align: right;
}


.block.block3{
    right: 0px;
    top: 78px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.block.block3 .description{
    text-align: right;
    width: 310px;
}

.block.block3 .header{
    text-align: right;
}

