
.Header{
    position: absolute;
    /* top: 90px;
    left: calc(50% - 225px); */
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Back{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 71px;
}

.Header.Full{
    top: 50vh;
}

.Back.Full{
    top: 0;
}