
.MainBox{
    position: relative;
    /* padding-bottom: 20px; */
}

.SpecialtyFilter{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.SpecialtyFilter #specialtyFilterTitle{
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}

.SearchPanelBox{
    height: auto;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.EmptyQuery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchIcon{
    width: 15px;
    margin-right: 5px;
}

.SearchInput{
    background-color: transparent;
    border: none;
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

.SearchInput:focus {
    outline: none;
}

.AdditionButton{
    width: 30px;
    transition: transform 0.2s;
}

.AdditionButton.open{
    transform: rotate(45deg);
}

.DropdownBox{
    padding: 15px;
    background-color: #f6f6f6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-height: 250px;
    /* min-width: 90%; */
    min-width: 250px;
    position: absolute;
    overflow: hidden;

}

.DropdownItemBox{
    margin-top: 5px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 220px;

}

.Preloader{
    display: flex;
    align-items: center;
    justify-content: center;
}