.ParentLink{
    white-space: nowrap;
}

.DropdownMenu {
    position: absolute;
    top: 74px;
    /* top: 50px; */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #EDEFF4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0.2rem 0.7rem 0 #eaeaea;
    transition: 0.3s ease;
}


.Circumflexus{
    margin-left: 10px; 
}

.DropdownMenuLink{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #5e5e5e;

}