
.ParentLink{
    white-space: nowrap;
}
.DropdownMenu {
    position: absolute;
    top: 50px;
    list-style: none;
    margin: 0;
    border-top: 2px solid #2864FF; 
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding: 10px;
    transition: 0.3s ease;
}

.DropdownMenu.near{
    position: relative;
    bottom: -5px;
    top: auto;
    border-top: 2px solid #799FFF; 
}

/* .NearDropdownMenu{
    position: relative;
    bottom: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #799FFF; 
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding: 10px;
    transition: 0.3s ease;
} */


.Circumflexus{
    margin-left: 10px; 
}

.CircumflexusBlue{
    margin-left: 10px; 
    margin-bottom: 2px;
}

.DropdownMenuLink{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #eaeaea;

}