
.MainBox{
    position: relative;
}

.ParentLink{
    white-space: nowrap;
}
.DropdownMenu {
    position: absolute;
    top: 25px;
    list-style: none;
    margin: 0;
    border-top: 2px solid #2864FF; 
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding: 10px 15px;
    transition: 0.3s ease;
}

.DropdownMenu.near{
    top: -85px;
    top: auto;
    border-top: 2px solid #799FFF; 
}

.Circumflexus{
    margin-left: 10px; 
}

.CircumflexusBlue{
    margin-left: 10px; 
    margin-bottom: 2px;
}

.DropdownMenuLink{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #eaeaea;
}

.DropdownMenu li{
    padding: 5px 0;
    border-bottom: 1px solid #5c5c5c;
}

.DropdownMenu li:first-child{
    padding-top: 0;
}

.DropdownMenu li:last-child{
    padding-bottom: 0;
    border: none;
}