
.ModalBox{
    opacity: 100%;
    width: 450px;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.DuseAppLogoBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.DuseAppLogoBox img{
    width: 122px;
}

.Menu{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.MenuLink{
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    color: #242424;
}

.MenuLink.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 15px;
    background-color: var(--main-blue-color);
    transition: height 0.2s;
}

 .MenuLink:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    border-radius: 15px;
    background-color: black;
    transition: height 0.1s;
}

.MenuLink:last-child{
    margin-left: 60px;
}

/* .InputBox{
    display: flex;
} */

.Input{
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.Input input{
    outline: none;
    border: none;
    font-size: 15px;
    color: #999;
    font-weight: 500;
    background-color: transparent;
    width: 100%;
}


.Input input::placeholder{
    font-size: 15px;
    color: #999;
    font-weight: 500;
}

.Input:last-child{
    margin: 0;
}

.EntryConditionBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.EntryConditionBox p{
    font-size: 14px;
    color: #5e5e5e;
    font-weight: 500;
    text-align: center;
}

.EntryConditionBox a{
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #5e5e5e;
    font-weight: 700;
}

.AccessButton{
    height: 50px;
    width: 100%;
    background-color: var(--main-blue-color);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.AccessButton.loading{
    opacity: 60%;
}

.AccessButton:focus{
    outline: none;
}

.ChangeAuthButton{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    background-color: transparent;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}
